Repository package-url/purl-spec, pull requests merged in 2024-11, with the labels that each got.

#330 docs(vers): clarify what is (not) NVD
  VERSION-RANGE-SPEC.rst
Labels: Version ranges

#316 Fix link to "Type definitions" to PURL-TYPES.rst
  PURL-SPECIFICATION.rst
Labels: PURL documentation, Ecma specification

#329 Fix casing: semver -> SemVer; nevra -> NEVRA
  PURL-SPECIFICATION.rst
Labels: PURL documentation, Ecma specification

#341 Fix typos, casing, Rubygems -> RubyGems, etc
  PURL-SPECIFICATION.rst
  PURL-TYPES.rst
  README.rst
  VERSION-RANGE-SPEC.rst
Labels: Ecma specification

#325 Added CPAN tests and FIX typos in PURL-SPEC
  PURL-TYPES.rst
  test-suite-data.json
Labels: PURL documentation, Test suite

#170 Add `filename` qualifier to pypi.
  PURL-TYPES.rst
Labels: PURL type definition, PURL qualifiers component, Ecma specification, type: pypi

#184 Revert "Fix missing percent-encoding in purl example with repository_url"
  README.rst
Labels: PURL core specification, PURL qualifiers component, PURL encoding, Ecma specification
