Repository package-url/purl-spec, pull requests merged in 2025-04, with the labels that each got.

#415 pypi: fix `filename` -> `file_name` example
  PURL-TYPES.rst
Labels: bug, type: pypi

#398 Update 'qualifiers' rule in core spec #382
  PURL-SPECIFICATION.rst
  faq.rst
Labels: PURL core specification, PURL qualifiers component, PURL encoding, Ecma specification

#439 Add character-encoding work from qualifiers PR
  PURL-SPECIFICATION.rst
Labels: PURL encoding, Ecma, Ecma specification

#416 Fix colon encoding in tests again
  test-suite-data.json
Labels: Test suite

#434 [VERS] Add intdot versioning scheme
  VERSION-RANGE-SPEC.rst
Labels: PURL/univers version scheme, Version ranges

#445 Fix typo in `npm` type description
  PURL-TYPES.rst
Labels: PURL type definition, type: npm

#399 docs: add dedicated adopters file
  ADOPTERS.rst
  README.rst
Labels: PURL community, PURL documentation
