Repository package-url/purl-spec, pull requests merged in 2025-02, with the labels that each got.

#364 test: character encoding
  test-suite-data.json
Labels: PURL encoding, PURL version component, Ecma specification

#367 test: ensure namespace allows multiple segments
  test-suite-data.json
Labels: PURL namespace component, Test suite, Ecma specification

#361 Clarify encoding of colon between scheme and type
  PURL-SPECIFICATION.rst
  faq.rst
  test-suite-data.json
Labels: PURL encoding, Ecma specification, PURL scheme component

#354 README: Add ORT to the list of adopters
  README.rst
Labels: PURL community

#383 Update 'type' component in core spec and add faq.rst #378
  PURL-SPECIFICATION.rst
  faq.rst
  test-suite-data.json
Labels: PURL encoding, Ecma specification, PURL type component

#394 docs(subpath): revisited
  PURL-SPECIFICATION.rst
Labels: PURL subpath component, Ecma
