Repository package-url/purl-spec, pull requests merged in 2025-07, with the labels that each got.

#485 Clarify subpath definition re permitted characters #379
  PURL-SPECIFICATION.rst
Labels: PURL subpath component, 1 high priority, Ecma standard

#433 PURL add well-known qualifier `vers`
  PURL-SPECIFICATION.rst
Labels: PURL qualifiers component, 1 high priority, Ecma standard

#209 docs: consistent naming of the `checksum` qualifier key
  PURL-SPECIFICATION.rst
Labels: PURL core specification, PURL qualifiers component, 1 high priority, Ecma standard

#490 Add datetime as generic versioning scheme
  VERSION-RANGE-SPEC.rst
Labels: PURL/univers version scheme, Version ranges, 2 medium priority

#475 Add ReversingLabs Spectra Assure as an adopter
  ADOPTERS.rst
Labels: Adopters

#443 add lexicographic vers scheme
  VERSION-RANGE-SPEC.rst
Labels: PURL/univers version scheme, Version ranges
